
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e0554d039f.js" crossorigin="anonymous"></script><body>
  <script src="asserts/java/counter.js"></script>
  <header>
    <app-nav-bar></app-nav-bar>
  </header>

  <main>
    <div class="vid">
      <video autoplay loop muted plays-inline class="background-clip" >
       <source src="assets/video.mp4"  type="video/mp4">
     </video>
</div>

<div class="sec">
      <h1>DLF The Camellias Gurgaon </h1>
      <p>DLF Camellias, a super-luxury residential community, provides the best amenities and services, making it more appealing to the middle of the upper class. These include a continuous supply of water, power backup, and professional maintenance staff available 24X7.

        DLF Camellias in Sector 42.</p>
  <br>
  <p>
        Gurgaon is a renowned DLF Developer's residential community that is located in one of India's most affluent areas at DLF 5 close to Golf Course Road Gurgaon.

        In Sector 42 in Gurgaon, DLF Camellias is a ready-to-move residential development that offers 429 ultra-luxurious houses with the best interior finishes and specifications.</p><br><p> The homes are configured as 4 BHK, 5 BHK, or 6 BHK. Each unit is well thought out, lively, and full of good energy.India's most affluent areas at DLF 5 close to Golf Course Road Gurgaon.
        </p>
  </div>

  <div class="third">

    <div class="tital">
      <h1>VIEW ALL PROPJECTS</h1>
    <h1>_______</h1>
  </div>

  <div class="cards">
    <div class="a1">
       <img src="assets/b1.jpg">
              <h1 class="standard">ECONUMY</h1>
              <h5 class="more">View More<i class="fa-solid fa-arrow-right">-></i></h5>
            </div>

    <div class="a2">
      <img src="assets/b22.jpg">
      <h1 class="standard">STANDARD</h1>
      <h5 class="more">View More<i class="fa-solid fa-arrow-right">-></i></h5>

    </div>
    <div class="a3">
      <img src="assets/b3.jpg">
      <h1 class="standard">PREMIUM</h1>
      <h5 class="more">View More<i class="fa-solid fa-arrow-right">-></i></h5>

    </div>
  </div>

  </div>

<DIV class="forth">
  <div class="left">
     <img src="assets/as2.jpg" class="ig">
  </div>
  <div class="right">
       <h1>Amenities</h1>
       <h2>You Can Choose From Several Amenities at DLF, The Camellias Gurgaon, To Support An Active & Robust Lifestyle.</h2>
       <p>An astonishing array of amenities, including a gym, spa, clubhouse, a chef on call, a jogging and cycling track, and much more, are included in this ready-to-move Gurgaon complex.
        You can now engage in healthy activities to maintain your health after a day of inactivity.</p>
  </div>
</DIV>

<div class="slider img">
  <div class="slides">

        <div class="slide"><div class="ibox"><i class="fa-solid fa-house">HOME</i></div></div>
        <div class="slide"><div class="ibox">content</div></div>
        <div class="slide"><div class="ibox">content</div></div>
        <div class="slide"><div class="ibox">content</div></div>
        <div class="slide"><div class="ibox">content</div></div>

</div>
</div>

<div class="finaly">

  <div class="final1">We take pride in our communities. From master planned neighbourhood to exceptional high rises,
    DLF uses a customer-centric approach to develop residences of the highest standard which stand the test of time.</div>
    <hr/>
    <div class="final2">Spread across 11 cities, our homes range from cutting-edge luxury residential complexes to smart townships. With functionality, design, and technology at the heart of
      everything we do, DLF Residential Apartments and homes are more than just houses - they are a way of life.</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3><span id="Partners">0</span>+</h3>
      <h3>million sq m <br>
        residential area developed</h3>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3><span id="Projects">0</span>+</h3>
      <h3>Projects</h3>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3><span id="Clients">0</span>+</h3>
      <h3>million sq m <br>
        residential area developed</h3>
    </div>
  </div>
</div>




</div>

</main>
  <footer>
  <app-footer></app-footer>
</footer>

</body>
</html>

